$keyframe-name: $name-rotate-out-down-left;
$class-name: namespace($name-rotate-out-down-left);

@mixin animate-rotate-out-down-left($prefix: '') {
    0% {
        #{$prefix}transform-origin: left bottom;
        opacity: 1;
    }

    100% {
        #{$prefix}transform-origin: left bottom;
        #{$prefix}transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
}

@if useModule($enable-rotate-out-down-left) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-rotate-out-down-left($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-rotate-out-down-left($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-rotate-out-down-left($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-rotate-out-down-left();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
