$keyframe-name: $name-rotate-in;
$class-name: namespace($name-rotate-in);

@mixin animate-rotate-in($prefix: '') {
    0% {
        #{$prefix}transform-origin: center;
        #{$prefix}transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    100% {
        #{$prefix}transform-origin: center;
        #{$prefix}transform: none;
        opacity: 1;
    }
}

@if useModule($enable-rotate-in) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-rotate-in($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-rotate-in($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-rotate-in($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-rotate-in();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
