$keyframe-name: $name-flip-in-y;
$class-name: namespace($name-flip-in-y);

@mixin animate-flip-in-y($prefix: '') {
    0% {
        #{$prefix}transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        #{$prefix}transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        #{$prefix}transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        #{$prefix}transition-timing-function: ease-in;
    }

    60% {
        #{$prefix}transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        #{$prefix}transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        #{$prefix}transform: perspective(400px);
    }
}

@if useModule($enable-flip-in-y) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-flip-in-y($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-flip-in-y($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-flip-in-y($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-flip-in-y();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
