$keyframe-name: $name-flip-out-y;
$class-name: namespace($name-flip-out-y);

@mixin animate-flip-out-y($prefix: '') {
    0% {
        #{$prefix}transform: perspective(400px);
    }

    30% {
        #{$prefix}transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
        opacity: 1;
    }

    100% {
        #{$prefix}transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
}

@if useModule($enable-flip-out-y) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-flip-out-y($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-flip-out-y($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-flip-out-y($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-flip-out-y();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
