$keyframe-name: $name-fade-out-right-big;
$class-name: namespace($name-fade-out-right-big);

@mixin animate-fade-out-right-big($prefix: '') {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        #{$prefix}transform: translate3d(100%, 0, 0);
    }
}

@if useModule($enable-fade-out-right-big) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-fade-out-right-big($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-fade-out-right-big($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-fade-out-right-big($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-fade-out-right-big();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
