$keyframe-name: $name-fade-in;
$class-name: namespace($name-fade-in);

@if useModule($enable-fade-in) {

    @include animate-keyframe($keyframe-name) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }
}
