$keyframe-name: $name-fade-in-right-big;
$class-name: namespace($name-fade-in-right-big);

@mixin animate-fade-in-right-big($prefix: '') {
    0% {
        opacity: 0;
        #{$prefix}transform: translate3d(2000px, 0, 0);
    }

    100% {
        opacity: 1;
        #{$prefix}transform: none;
    }
}

@if $enable-all-modules == true or $enable-fade-in-right-big == true {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-fade-in-right-big('-webkit-');
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-fade-in-right-big('-moz-');
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-fade-in-right-big('-o-');
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-fade-in-right-big();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
