$keyframe-name: $name-bounce-out-left;
$class-name: namespace($name-bounce-out-left);

@mixin animate-bounce-out-left($prefix: '') {
    20% {
        opacity: 1;
        #{$prefix}transform: translate3d(20px, 0, 0);
    }
    100% {
        opacity: 0;
        #{$prefix}transform: translate3d(-2000px, 0, 0);
    }
}

@if useModule($enable-bounce-out-left) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-bounce-out-left($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-bounce-out-left($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-bounce-out-left($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-bounce-out-left();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
