$keyframe-name: $name-bounce-out;
$class-name: namespace($name-bounce-out);

@mixin animate-bounce-out($prefix: '') {
    20% {
        #{$prefix}transform: scale3d(.9, .9, .9);
    }
    50%, 55% {
        opacity: 1;
        #{$prefix}transform: scale3d(1.1, 1.1, 1.1);
    }
    100% {
        opacity: 0;
        #{$prefix}transform: scale3d(.3, .3, .3);
    }
}

@if useModule($enable-bounce-out) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-bounce-out($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-bounce-out($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-bounce-out($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-bounce-out();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
