$keyframe-name: $name-zoom-in-right;
$class-name: namespace($name-zoom-in-right);

@mixin animate-zoom-in-right($prefix: '') {
    0% {
        opacity: 0;
        #{$prefix}transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        #{$prefix}animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        #{$prefix}transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        #{$prefix}animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@if useModule($enable-zoom-in-right) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-zoom-in-right($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-zoom-in-right($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-zoom-in-right($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-zoom-in-right();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
