$keyframe-name: $name-bounce-in-left;
$class-name: namespace($name-bounce-in-left);

@mixin animate-bounce-in-left($prefix: '') {
    0%, 60%, 75%, 90%, 100% {
        #{$prefix}transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        #{$prefix}transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        #{$prefix}transform: translate3d(25px, 0, 0);
    }
    75% {
        #{$prefix}transform: translate3d(-10px, 0, 0);
    }
    90% {
        #{$prefix}transform: translate3d(5px, 0, 0);
    }
    100% {
        #{$prefix}transform: none;
    }
}

@if useModule($enable-bounce-in-left) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-bounce-in-left($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-bounce-in-left($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-bounce-in-left($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-bounce-in-left();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
