// ***************************************************************
//
// Animate.scss
// Common Settings
//
// A set of base settings used throughout the app
//
// ***************************************************************


// USE VENDOR PREFIXES?
// Set this to true if you want vendor prefixes for webkit, mozilla, and opera
// Leave this false if you're already using something awesome like Autoprefixer
$enable-prefixes: false !default;


// VENDOR PREFIX TYPES
$prefix-webkit: '-webkit-';
$prefix-moz:    '-moz-';
$prefix-opera:  '-o-';



// ANIMATION DEFAULTS
$default-animation-duration: 1s !default;
$default-iteration-count:    infinite !default;
