$keyframe-name: $name-zoom-out-right;
$class-name: namespace($name-zoom-out-right);

@mixin animate-zoom-out-right($prefix: '') {
    40% {
        opacity: 1;
        #{$prefix}transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    }
    100% {
        opacity: 0;
        #{$prefix}transform: scale3d(.1) translate3d(2000px, 0, 0);
        #{$prefix}transform-origin: right center;
    }
}

@if useModule($enable-zoom-out-right) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-zoom-out-right($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-zoom-out-right($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-zoom-out-right($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-zoom-out-right();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
