$keyframe-name: $name-zoom-out-left;
$class-name: namespace($name-zoom-out-left);

@mixin animate-zoom-out-left($prefix: '') {
    40% {
        opacity: 1;
        #{$prefix}transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
    }
    100% {
        opacity: 0;
        #{$prefix}transform: scale3d(.1) translate3d(-2000px, 0, 0);
        #{$prefix}transform-origin: left center;
    }
}

@if useModule($enable-zoom-out-left) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-zoom-out-left($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-zoom-out-left($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-zoom-out-left($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-zoom-out-left();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
