$keyframe-name: $name-zoom-out;
$class-name: namespace($name-zoom-out);

@mixin animate-zoom-out($prefix: '') {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        #{$prefix}transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 0;
    }
}

@if useModule($enable-zoom-out) {
    @if $enable-prefixes == true {
        @-webkit-keyframes #{$keyframe-name} {
            @include animate-zoom-out($prefix-webkit);
        }

        @-moz-keyframes #{$keyframe-name} {
            @include animate-zoom-out($prefix-moz);
        }

        @-o-keyframes #{$keyframe-name} {
            @include animate-zoom-out($prefix-opera);
        }
    }

    @keyframes #{$keyframe-name} {
        @include animate-zoom-out();
    }

    .#{$class-name} {
        @include animate-prefixer(animation-name, $keyframe-name);
    }

}
